# Python

**pycache**/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual Environment

venv/
ENV/
env/

# Logs

logs/
*.log

# CSV/Exports

csv/
*.csv

# IDEs

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files

.DS_Store
Thumbs.db

# WebDriver Manager Cache

.wdm/
